form {
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbffa9;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    outline: none;
    border-color: #ff9b9b;
  }

  &::placeholder {
    color: #aa9f9f;
  }

  &[type="submit"] {
    background-color: #ff9b9b;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  &[type="submit"]:hover {
    background-color: #ff7b7b;
  }
}
